# ===============================
# Core Framework
# ===============================
fastapi
uvicorn[standard]

# ===============================
# Database
# ===============================
sqlalchemy
psycopg2-binary

# ===============================
# Migrations
# ===============================
alembic

# ===============================
# Authentication & Security
# ===============================
python-jose
passlib[bcrypt]
slowapi

# ===============================
# Environment Variables
# ===============================
python-dotenv

# ===============================
# Validation & Serialization
# ===============================
pydantic

# ===============================
# Optional (Recommended for Production)
# ===============================
httpx

# ===============================
# PDF Generation
# ===============================
playwright
jinja2
qrcode[pil]
APScheduler
cryptography
