<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDI Report</title>
    <style>
        @page {
            size: A4 landscape;
            margin: 5mm;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 9pt;
            line-height: 1.2;
            color: #000;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #000;
        }

        th, td {
            border: 1px solid #000;
            padding: 3px 5px;
            vertical-align: middle;
            text-align: center;
        }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .text-center { text-align: center; }
        .bold { font-weight: bold; }
        .uppercase { text-transform: uppercase; }

        .header-title {
            font-size: 18pt;
            font-weight: bold;
            background-color: #f0f0f0;
            padding: 5px;
        }

        .company-name {
            font-size: 17pt;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .party-name {
            font-size: 17pt;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .footer-label {
            font-size: 8pt;
            vertical-align: top;
            height: 40px;
        }
    </style>
</head>
<body>

    <!-- Header Section -->
    <table style="border-bottom: none;">
        <thead>
            <tr>
                <td colspan="4" class="header-title uppercase">
                    SUPPLIER'S PDIR CUM INCOMING INSPECTION REPORT
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- Left: Supplier info (Samarth) -->
                <td style="width: 40%; vertical-align: top; padding: 10px;" class="text-center">
                    <div class="party-name uppercase">{{ party.name }}</div>
                    <div style="font-size: 9pt;">{{ party.address or '' }}</div>
                </td>
                
                <!-- Middle: Company info (Bespask) -->
                <td style="width: 40%; vertical-align: top; padding: 10px;" class="text-center">
                    <div class="company-name uppercase">{{ company.name }}</div>
                    <div style="font-size: 9pt;">{{ company.address or '' }}</div>
                </td>

                <!-- Right: Doc Ref Info -->
                <td colspan="2" style="width: 20%; padding: 0; vertical-align: top;">
                    <table style="width: 100%; border: none; margin: 0;">
                        <tr>
                            <td class="text-left font-size-8" style="border-top: none; border-left: none; border-right: none;"><strong>Doc. Ref No.:</strong> {{ report.parameters_data.get('Doc Ref No') or '-' }}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="border-left: none; border-right: none;"><strong>Rev. No.:</strong> {{ report.parameters_data.get('Rev No') or '-' }}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="border-left: none; border-right: none; border-bottom: none;"><strong>Rev. Date:</strong> {% if report.parameters_data.get('Rev Date') %}{% set d = report.parameters_data.get('Rev Date').split('-') %}{{ d[2] }}-{{ d[1] }}-{{ d[0] }}{% else %}-{% endif %}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <!-- Row 3: Part Details and Report Details -->
            <tr>
                  <!-- Part Info -->
                  <td style="width: 40%; vertical-align: top; padding: 0; border-right: 1px solid #000;">
                      <table style="width: 100%; border: none; margin: 0;">
                          <tr>
                              <td class="text-left bold" style="border: none; border-bottom: 1px solid #000; width: 30%;">Part No.:</td>
                              <td class="text-left" style="border: none; border-bottom: 1px solid #000;">{{ report.parameters_data.get('Part No') or '-' }}</td>
                          </tr>
                          <tr>
                              <td class="text-left bold" style="border: none; width: 30%;">Part Desc:</td>
                              <td class="text-left" style="border: none;">{{ item.name }}</td>
                          </tr>
                      </table>
                  </td>
                  
                  <!-- Report Info -->
                  <td colspan="2" style="width: 60%; vertical-align: top; padding: 0;">
                     <table style="width: 100%; border: none; margin: 0;">
                         <tr>
                            <td class="text-left bold" style="border: none; border-right: 1px solid #000; width: 22.2%;">Report No: {{ report.id }}</td>
                            <td class="text-left bold" style="border: none; border-right: 1px solid #000; width: 22.2%;">D.C. No: {{ challan.challan_number }}</td>
                            <td class="text-left bold" style="border: none; border-right: 1px solid #000; width: 22.2%;">D.C. Date: {{ challan.challan_date.strftime('%d-%m-%Y') if challan.challan_date else '-' }}</td>
                            <td class="text-left bold" style="border: none; width: 33.3%;">D.C. Qty: {{ total_qty }} Nos</td>
                        </tr>
                         <tr>
                             <td colspan="4" class="text-left" style="border: none; border-top: 1px solid #000;">
                                 <strong>Drg. Rev. No.:</strong> {{ report.parameters_data.get('Drg Rev No') or '-' }}
                             </td>
                         </tr>
                     </table>
                 </td>
                 
                 <!-- Empty cells to match colspan -->

            </tr>
        </tbody>
    </table>

    <!-- Main Observation Table -->
    <table style="margin-top: -1px;">
        <thead>
            <tr style="background-color: #f0f0f0;">
                <th rowspan="2" style="width: 25px;">Sr.<br>No.</th>
                <th rowspan="2" style="width: 13%;">Parameter</th>
                <th rowspan="2" style="width: 11%;">Specified<br>Dim.</th>
                <th rowspan="2" style="width: 12%;">Inspection<br>Equipments</th>
                <th colspan="10">Actual Observations</th>
                <th rowspan="2" style="width: 10%;">Remarks</th>
            </tr>
            <tr style="background-color: #f0f0f0;">
                <!-- 5 Sets of Sup/QC columns -->
                {% for i in range(1, 6) %}
                <th style="width: 5%;">Sup-{{ i }}</th>
                <th style="width: 5%;">{{ company.initials or 'QC' }}-{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% set row_count = namespace(value=1) %}
            
            <!-- Dimensions -->
            {% for dim in pdi_dimensions %}
            {% set dim_loop = loop %}
            <tr>
                <td>{{ dim_loop.index }}</td>
                <td class="text-left">{{ dim.name or dim.parameter or '-' }}</td>
                <td>{{ dim.specification }} {% if dim.unit %}{{ dim.unit }}{% endif %}</td>
                <td>{{ dim.equipment or report.parameters_data.get('Equipment', '-') }}</td>
                
                <!-- Sup-1 (Original/Backward Compatible) -->
                <td class="bold">{{ report.dimensions_data.get(dim.name ~ '__' ~ dim_loop.index0, report.dimensions_data.get(dim.name, '')) }}</td>
                
                <!-- QC-1 -->
                <td class="bold">{{ report.dimensions_data.get(dim.name ~ '__' ~ dim_loop.index0 ~ '_qc_1', report.dimensions_data.get(dim.name ~ '_qc_1', '')) }}</td>
                
                <!-- Sup-2 & QC-2 to Sup-5 & QC-5 -->
                {% for i in range(2, 6) %}
                <td class="bold">{{ report.dimensions_data.get(dim.name ~ '__' ~ dim_loop.index0 ~ '_sup_' ~ i, report.dimensions_data.get(dim.name ~ '_sup_' ~ i, '')) }}</td>
                <td class="bold">{{ report.dimensions_data.get(dim.name ~ '__' ~ dim_loop.index0 ~ '_qc_' ~ i, report.dimensions_data.get(dim.name ~ '_qc_' ~ i, '')) }}</td>
                {% endfor %}
                
                <td></td> <!-- Remarks -->
            </tr>
            {% endfor %}


            
            <!-- Overall Result -->
            <tr style="background-color: #f9f9f9;">
                <td colspan="4" class="text-right bold">OVERALL DECISION:</td>
                <td colspan="1" class="bold uppercase">{{ report.status }}</td>
                <td colspan="10"></td>
            </tr>
        </tbody>
    </table>

    <!-- Footer Section -->
    <table style="margin-top: -1px; border-top: none;">
        <!-- Headers -->
        <tr style="background-color: #f0f0f0;">
            <th colspan="2" style="width: 25%; text-align: left; padding-left: 10px;">For <span class="uppercase">{{ company.name }}</span></th>
            <th colspan="2" style="width: 25%; text-align: left; padding-left: 10px;">For <span class="uppercase">{{ party.name }}</span></th>
            <th style="width: 6%;">GRN</th>
            <th style="width: 8%;">GRN Date</th>
            <th style="width: 8%;">GRN Qty</th>
            <th style="width: 6%;">OK Qty</th>
            <th style="width: 6%;">CR Qty</th>
            <th style="width: 6%;">MR Qty</th>
            <th style="width: 6%;">Verify</th>
        </tr>
        
        <!-- Content Row -->
        <tr>
            <!-- Supplier Signatures -->
            <td style="width: 12.5%; vertical-align: bottom; height: 50px;">
                <div style="border-top: 1px solid #000; margin-top: 30px; width: 90%;">Prepared By</div>
            </td>
            <td style="width: 12.5%; vertical-align: bottom;">
                <div style="border-top: 1px solid #000; margin-top: 30px; width: 90%;">Approved By</div>
            </td>

            <!-- Company Signatures -->
            <td style="width: 12.5%; vertical-align: bottom;">
                <div style="border-top: 1px solid #000; margin-top: 30px; width: 90%;">Prepared By</div>
            </td>
            <td style="width: 12.5%; vertical-align: bottom;">
                <div style="border-top: 1px solid #000; margin-top: 30px; width: 90%;">Approved By</div>
            </td>

            <!-- GRN Data (Empty) -->
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
            <td style="padding: 2px; text-align: center; vertical-align: middle;">
                {% if qr_code %}
                    <img src="data:image/png;base64,{{ qr_code }}" style="width: 40px; height: 40px; display: block; margin: 0 auto;" />
                {% endif %}
            </td>
        </tr>
        
        <!-- Date Row -->
        <tr>
             <td colspan="2" class="text-left" style="border: none; padding-left: 5px;">Date: {{ report.inspection_date.strftime('%d-%m-%Y') if report.inspection_date else '-' }}</td>
             <td colspan="9" style="border: none; text-align: right; padding-right: 5px; font-size: 10px; color: #aaa;">
                Generated by <strong>SmartBill</strong> | Developed by <a href="https://www.mayurpatil.in" style="color: inherit; text-decoration: none;">www.mayurpatil.in</a>
             </td>
        </tr>
    </table>

</body>
</html>
